$color-primary: hsl(172, 67%, 45%);

$color-neutral-darkest: hsl(183, 100%, 15%);
$color-neutral-darker: hsl(186, 14%, 43%);
$color-neutral-dark: hsl(184, 14%, 56%);
$color-neutral-light: hsl(185, 41%, 84%);
$color-neutral-lighter: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);

$fs-form-inputs: 24px;

$ff-default: "Space Mono", sans-serif;

$fw-bold: 700;
